@font-face {
  font-family: Expansiva bold;
  src: url('../fonts/Expansiva.otf');
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*
 * -- BASE STYLES --
 */

html, body, #root, #list-map, .event-map, .explore, .home{
  height: 100%;
}

#root > div {
 height: 100%;
}

body {
  line-height: 1.7em;
  color: #F6F0ED;
  font-size: 13px;
  padding: 0;
  margin: 0;
  background-color: #434141;
  font-family: 'Montserrat', sans-serif
}

ul {
  list-style:none;
}

li {
  margin: 0.5em;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 15px;
}

button.view-details.btn.btn-secondary {
  background-color: white;
}

.back-btn {
  color: #1E1E24;
}

.back-btn:hover {
  opacity: 0.6;
}
  
*:focus {
  outline: none !important;
  box-shadow: none;
}

div.footer {
  position: absolute;
  bottom: 2%;
  margin: 0 auto;
  width: 100%

}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

/*
 * -- PURE BUTTON STYLES --
 */
.pure-button {
  color: white;
  padding: 0.5em 2em;
  border-radius: 5px;
  box-shadow: 0 8px 16px 0;
}

a.pure-button-primary {
  background: white;
  color: #000;
  border-radius: 5px;
  font-size: medium;
}

/*
 * -- AUTH STYLES --
 */
.pure-g {
  background: #434141;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed !important;
}

.pure-u-1 {
  margin: auto;
  position: relative;
  top: 100px; left: 0; bottom: 0; right: 0;
  text-align: center;
  text-transform: uppercase;
  z-index: 2
}

.background_image {
  background: url("../images/map.png") center center;
  /*background-size: contain;*/
  display: block;
  height: 100%;
  width: 100%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  opacity: 0.2;
}

/* This is the main heading that appears on the page */
.auth-head {
  font-family: Expansiva bold; 
  text-shadow: 2px 2px 2px black;
  font-size: 5em;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  line-height: 1em;
  margin: auto;
  padding-bottom: 50px;
}

.hero-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.login-button {
  font-family: 'Raleway', 'sans-serif'; 
  color: #3b5998;
}

.login-button:hover {
  background-color: #3b5998;
  color: white;
  text-decoration: none;
}

.facebook-icon {
  padding-right: 10px;
}
/*
 * -- LIST STYLES --
 */

ul.event-item {
  height:80vh;
}

li.event-item {
  background-color: transparent;
  color: #b8b7ad;
  border: none;
  border-bottom: 1px solid #b8b7ad;
}

span.event-distance {
  color: #F6F0ED;
  opacity: 0.7;
}

.event-title {
  color: inherit;
  display: inline-block;
}

.event-distance {
  display: inline-block;
  font-style: italic;
  font-size: 1em;
  color: grey;
  margin-left: 1em;
}

li.event-item:hover {
  cursor: pointer;
  color: white;
  border-bottom: 1px solid white;
}

li.event-item.selected {
  color: white;
  border-bottom: 1px solid white;
}

div.list {
  padding: 15px;
}

div.eventList {
  margin-bottom: 7%;
}


/*
 * -- LIST MAP STYLES -- 
 */

.leaflet-left {
  left: 1%;
}

/*
 * -- EVENTCREATE STYLES --
 */

.create-form input {
  color: black;
}

.create-form .no-padding-left {
  padding-left: 0em;
}

.create-form .no-padding-right {
  padding-right: 0em;
}

.create-form .col-xs-4 {
  width: 33.3333%;
  margin: 1em 0;
}

.create-form .col-xs-8 {
  margin: 1em 0;
}

.create-form .col-xs-10 {
  float: none;
}

.create-form label,
.create-form .text-danger {
  font-size: 1.3em;
  padding-left: 0;
}

.create-form .input-sm, 
.create-form select {
  border-radius: 5px;
  font-size: 1em;
  height: 40px;
}

.create-form .checkbox {
  margin-right :10px;
}

.create-form .form-check-label {
  font-size: 1em;
  font-weight: normal;
  margin: 0 15px 0 5px;
}

.create-form button.btn-link,
.clear {
  color: #F6F0ED;
}

.clear:hover {
  color: #F6F0ED;
  text-decoration: underline;
}

.create-form .submit {
  margin: 20px 0;
}

.create-form .scroll {
  overflow-y: scroll;
  height: 70%;
}
/*
 * -- EVENTDETAILS STYLES --
 */

.ed-btn {
  width: 60px;
}

.event-details > i.fa {
  position: absolute;
  left: 1%;
  top: 1%;
}

.details-map-container {
  height: 100px;
}

#details-map {
  height: 30vh;
  z-index: 0;
}

.align-white {
  white-space: pre;
}

.details-table {
  margin: auto;
  text-align: left;
  height: 28vh;
  overflow-y: scroll;
  table-layout: fixed;
  display: block;
}

.details-table td {
  word-wrap: break-word;
}
.table-heading {
  font-size: 125%;
}
.table-info {
  font-size: 100%;
}

.event-buttons.btn-group {
  width: 100%;
  padding-right: 9%;
}

button.create-event.btn.btn-primary {
  width: 50%;
}

button.logout.btn.btn-danger {
  width: 50%;
}



/*
 * -- CHATBOX STYLES --
 */
form.text-center input{
  color: black;
  width: 12em;
  margin-top: 1em;
}

div.modal-dialog {
  position: relative;
  height: 50%;
  top: 13em;
}

div.chatBox {
  color: white; 
  height: 250px; 
  padding: 0em;
  overflow-y: auto;
}

div.modal-content {
  background-color: #434141;   
  width: 300px;
  height: 30em;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -235px;
}

.modal-dialog{
  overflow-y: initial !important
}

div.modal-header {
  padding: 15px;
  border-bottom: none;
  text-align: center;
  margin-bottom: -2em;
}

.modal-body {
  min-height: 16.42857143px;
  padding: 15px;
  border-bottom: none;
}

form.text-center {
  margin-bottom: 2em;
}

.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: none;
}  

img.chatImage {
  margin-left: -2.5em;
  border-radius: 2em;
  width: 2em;
  height: 2em;
}

form.text-center input {
  margin-bottom: 1em;
  width: 18em; 
  margin-top: 1em;
  margin-left: 1em;
}

li.col-xs-12.col-md-12 {
  padding: 0em; 
  left: -1em; 
}

input {
  margin-bottom: 1em;
}

.chatroom.modal-title {
  margin-left: 2em;
}


/*
 * -- EVENTDETAILS SIDEBAR STYLES --
 */

/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  right: 5%;
  top: 2%;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #1E1E24;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

.bm-menu-wrap {
  width: 100px !important;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 0 0;
  font-size: 1.15em;
  -webkit-padding-start: 0;
  text-align: center;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* list */
.event-details-sidebar {
  list-style-type: none;
  padding: 0 10px !important;
}

/* list item */
.sidebar-button {
  border-bottom: 1px solid grey;
  padding-top: 20%;
}

.sidebar-button:hover {
  color: white;
  border-bottom: 1px solid white;
  cursor: pointer;
}

/* list item icon */
.sidebar-button i {
  position: relative !important;
  display: block;
}

.sidebar-button p {
  padding-top: 20%;
  position: relative !important;
  display: block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgb(0,0,0);
}

/*
  Sidebar styles
 */

.button-container {
  padding: 5%;
  margin: 0 0 2% 0;
  border-bottom-width: 1px;
  border-bottom-color: black;
  border-bottom-style: solid;
}

.button-text {
  color: #;
}

/*
 * Dropdown Styles
 */

.capitalize {
  text-transform: capitalize;
}
.dd-item {
  padding: 5px;
  width: 80%;
  margin: auto;
  color: inherit;
}
.dd-item:not(:last-child) {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.dd-item:hover {
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  box-shadow: 0 0 30px -10px #000;
}

.filter-icon {
  padding: 5%;
}

/*
 * -- SMALL (IPHONE4) MEDIA QUERIES --
 * On iPhone 4 and other small devices, we want to customize some
 * of the mobile styles.
 */
@media (max-width:321px) {
  
  /* We want to decrease the height of the background image for center positioned. */
  .background_image {
    height: 17em;
  }

}

/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (max-width:768px) {

  /* We want to give the content area some more padding */
  .content {
      padding: 1em;
  }

  /* We decrease the width of the .auth, since we have more width
  to work with */
  .auth {
    width: 50%;
    height: 50%;
  }

  .auth-head {
    font-size: 3.1em;
  }

  a.pure-button-primary {
    font-size: 1.1em;
  }

  #list-map {
    height: 100%;
    width: 100%;
  }

  .leaflet-left{
    left: 3.5%;
  }

  .event-map {
    height: 50%;
  }

  .landing-page-title {
    padding-top: 50%;
  }
  div.col-xs-4 {
    width: 83%;
    height: 100%;
    margin: 0 8.5% 0 8.5%;
  }

  .page-header {
    margin: 20 0 0 0;
  }

  div.eventList {
    height: 75%;
    overflow-y: scroll;
    margin-bottom: 1%;
    margin-top: 1%;
  }

  h3.event-title {
    font-size: 18px;
  }

  h4#event-location {
    font-size: 15px;
  }
}

@media (min-width:768px) {
  .create-form .col-sm-2 {
    width: 16.66666667%;;
  }
  .create-form .is-tomorrow {
    margin: 1em 0;
  }
  .create-form .checkbox-text {
    margin: 1.2em 0;
  }
  .create-form .more-option {
    margin-bottom: 1.2em;
  }
  .create-form .more-label {
    margin-top: 1.2em;
  }
  .create-form .capacity {
    margin-top: -5px;
    margin-right: 1em;
  }
}

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large devices, we want to over-ride some
 * of the mobile and tablet styles.
 */
@media (min-width:992px) {
  /* Increase the header font size. */
  .auth-head {
    font-size: 8em;
  }
  /* Increase the button font size. */
  a.pure-button-primary {
    font-size: 1.8em;
  }
}

.eventListFriendImage {
  width: 7%;  
  overflow: hidden;
  border-radius: 50%;
}

.friend-accept {
font-size: large;
background-color: #464343;
border-style: inset;
}

.friend {
 font-size: large;
background-color: #aaa6a6;
border-style: outset; 
}

.inviteButton {
  background-color: #aaa6a6;
  color: white;
}

.friendHeader {
  text-align: center;
  font-size: 150%;
}

.inviteSpan {
text-align: center;
}

.friendsNotGoing
{
    list-style-type: none;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
}

.inviteButton {
  color: black
}

.guestHeader {
  text-align: center;
  font-size: 150%;
}

.guests {
background-color: white;
border-radius: 15px;
padding: 10px;
margin-left: 40px;
margin-right: 40px;
margin-top: 10px;
list-style-type: none;
}

.guest {
   font-size: large;
   color: black;
   padding-top: 5px;
}

.expandGuestList {
text-align: center;
color: black;
}

.expandFriendList {
text-align: center;
color: black;
}

.guestFriendHeader {
  text-align: center;
  font-size: 150%;
}
