body {
  padding: 0;
  margin: 0;
}

html, body, #root, #list-map, .explore {
  height: 100%;
}

#root > div {
 height: 100%;
}

.ed-btn {
	width: 60px;
}

i.fa {
	position: absolute;
	left: 1%;
	top: 1%;
}
